*{
    margin:0px;
    padding:0px;
    font-family: 'Alata', sans-serif;
}
header{
    height:50px;
}
.content{
    padding: 0px 50px;
}
.grid{
    display:grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.tile{
    margin:50px;
}
img{
    width:100px;
}
.card-body{
    grid-column: 1/-1;
}
#aaa{
    grid-column: 1/-1 !important;
}