*{
    margin:0px;
    padding:0px;
    font-family: 'Alata', sans-serif;
    position:relative;
}
footer{
    height: 100px;
    padding:10px 50px;
}
header{
    position: fixed;
    top:0px;
    display:flex !important;
    flex-direction: row;
    height:70px;
    width:100vw;
    padding:10px 50px;
    align-items: center;
    overflow:auto;
    background-color: white;
    z-index: 100;
}
.header_content{
    margin:0px auto;
    width:100%;
    max-width:2000px;
}
a{
    padding:20px;
    text-decoration: none;
    
}
a:hover{
    color: darkblue;
    text-decoration: none;

}
header .header_left{
    text-align: left;
    float:left;
    width:50%;
}
header .header_right{
    text-align: right;
    float: right;
    width:50%;
}
body{
    text-align: center;
    width:100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content{
    margin-top:70px;
    padding: 50px 50px;
    background-color: rgba(0,0,0,0.1);
}
.grid{
    display:grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.tile{
    width:180px;
    margin:0px;
}
.cover{
    margin:20px;
    -webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s ease-in-out;
    -o-transition: margin 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out;
}

.embeddedvideocontainer{
    position: relative;
    padding-bottom: 56.26%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.embeddedvideocontainer iframe,
.embeddedvideocontainer object,
.embeddedvideocontainer embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover:hover{
    cursor:pointer;
    animation:float 0.5s ease-in-out;
}


@keyframes float {
	0% {
		box-shadow: 0 0px 0px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 0px 0px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
}


.tile .cover{
    width:100%;
    border-radius: 3px;
}
.full_row{
    grid-column: 1/-1 ;
    width:100%;
    max-width:1200px;
}

.card h3{
    padding:5px;
}
.vertical_list{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
   
}
.list_wrapper{
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    background-color: rgba(0,0,0,0.7);
    height:100%;
    grid-column: 3;

}
.vertical_list li{
    
    padding:10px;
    margin: 20px 0px;
    text-align: center;
    
}
.list_wrapper .vertical_list button{
    padding:10px;
    border:0;
    font-size: 100%;
    font-family: inherit;
    color:white;
    background-color:rgba(0,0,0,0);
}
.vertical_list button:hover{
    border:1px solid white;
}
.image_container{
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows:1;
    background-image: url(../test.jpg);
    background-size: cover;
    height: 80vh;
}